name: Hourly JSON Update Two

on:
  schedule:
    - cron: "*/59 * * * *"
    
jobs:
  update-data:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          pip install requests yt-dlp

      - name: Run Generator Script
        run: python generate.py

      - name: Commit and Push Changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add lists/list.json
          git commit -m "Automated update" || exit 0
          git push


